$primary: #13161b;
$secondary: #efd6be;
$tertiary: #c69453;
$quaternary: #46230d;
$dark: #000;
$light: #f0eddf;
$danger: #dc3545;
$white: #ffffff;

// $primary: #46230D;
// $secondary: #CC8E4E;
// $tertiary: #89521c;
// $quaternary: #AE8960;
// $dark: #13161b;
// $light: #F0EDDF;
// $danger: #dc3545;
// $white: #ffffff;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "tertiary": $tertiary,
  "quaternary": $quaternary,
  "dark": $dark,
  "light": $light,
  "danger": $danger,
  "white": $white,
);
