@import "./colors";
@import "~bootstrap/scss/bootstrap";

*{
  font-family: var(--font-inter);
  font-weight: 500;
}

main {
  background-color: white;
  min-height: 100vh;

}

.krona-one{
  font-family: var(--font-krona-one);
}

h1,h2,h3,h4,h6{
  font-family: var(--font-krona-one);
}

h1{
  font-size: 1.5rem;
}

p{
  font-size: 1rem;
}

.fs-7 {
  font-size: 1rem;
}

.fs-8 {
  font-size: 0.85rem;
}

.fs-9 {
  font-size: 0.7rem;
}



.wood-bg-2 {
  background-image: url("/chhardwood/images/old-wooden-textures.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  box-shadow: inset 0 0 0 1000px rgba(220, 189, 168, 0.74);
  width: 100%;
}

.wood-bg {
  background-image: url("/chhardwood/images/hardwood-floor.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  box-shadow: inset 0 0 0 1000px rgba(70, 35, 13, 0.84);
}

.btn {
  padding: 0.4rem 1.1rem;
  font-size: 0.85rem;
  max-width: fit-content;
  border-radius: 0;
  border-radius: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-secondary {
  color: $light;
  background-color: $secondary;
  border-color: $secondary;
}

.btn-tertiary {
  color: $light;
  background-color: $tertiary;
  border-color: $tertiary;
}

.btn-border {
  color: $light;
  background-color: transparent;
  border-color: $light;

  border-width: 4px;
}

.bullet-points {
  color: $tertiary;
}

.bullet-points p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.bullet-points p span {
  background-color: $primary;
  height: 13px;
  width: 13px;
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
}

.dropdown-menu {
  border: 0;
  color: $light;
}

.logo {
  // width: 150px;
  // height: 150px;
  filter: saturate(60%);
}

// @media (max-width: 576px) {
//   .logo {
//     width: 90px;
//     height: 90px;
//   }
// }

.fs-7 {
  font-size: 0.8rem;
}

.fs-8 {
  font-size: 0.7rem;
}

.fs-9 {
  font-size: 0.6rem;
}

.navbar-text li {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  text-align: center;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  border: 0;
  box-shadow: none;
  outline: none;
}

.toggler-icon {
  width: 30px;
  height: 3.5px;
  background-color: $light;
  display: block;
}

.middle-bar {
  margin: 7px auto;
}

.bar {
  margin: auto;
  height: 3px;
  width: 65px;
  background-color: $light;
}

.input-box {
  border: 0;
  border-bottom: 3px solid $primary;
  border-radius: 0;
  padding: 0;
  font-size: 1rem;
}

.btn-close {
  --bs-btn-close-bg: none;
}

.contact-box {
  min-width: 250px;
  height: 50px;
  background-color: $light;
  padding: 0.5rem;
  margin: 0.8rem auto 0.8rem auto;
  display: flex;
}

.contact-box svg {
  margin: auto 1rem auto;
  fill: $primary;
}

.contact-box p {
  font-size: 0.8rem;
  color: $primary;
  margin-top: auto;
  margin-bottom: auto;
  height: fit-content;
}
