@import "./colors";
@import "~bootstrap-icons/font/bootstrap-icons";
@import "~bootstrap/scss/bootstrap";

@keyframes move-up-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.jumping {
  animation: move-up-down 1s infinite;
}

* {
  font-family: var(--font-inter);
  font-weight: 500;
}

main {
  background-color: white;
  min-height: 100vh;
}

.krona-one {
  font-family: var(--font-krona-one);
}

h1,
h2,
h3,
h4,
h6 {
  font-family: var(--font-krona-one);
}

h1 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

.fs-7 {
  font-size: 1rem;
}

.fs-8 {
  font-size: 0.85rem;
}

.fs-9 {
  font-size: 0.7rem;
}

.wood-bg-2 {
  background-image: url("/images/old-wooden-textures.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  box-shadow: inset 0 0 0 1000px rgba(189, 169, 156, 0.75);
  width: 100%;
}

.wood-bg {
  background-image: url("/images/wood.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  box-shadow: inset 0 0 0 1000px rgba(194, 183, 176, 0.48);
}

.btn {
  padding: 0.4rem 1.1rem;
  font-size: 1rem;
  max-width: fit-content;
  border-radius: 2px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-secondary {
  color: $dark;
  background-color: $secondary;
  border-color: $secondary;
}

.btn-tertiary {
  font-weight: 500;
  color: $dark;
  background-color: $tertiary;
  border-color: $tertiary;
}

.btn-border {
  color: $light;
  background-color: transparent;
  border-color: $light;

  border-width: 4px;
}

.bullet-points {
  color: $tertiary;
}

.bullet-points p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.bullet-points p span {
  background-color: $primary;
  height: 13px;
  width: 13px;
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
}

.dropdown-menu {
  border: 0;
  color: $light;
}

.fs-7 {
  font-size: 0.8rem;
}

.fs-8 {
  font-size: 0.7rem;
}

.fs-9 {
  font-size: 0.6rem;
}

.navbar-text li {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  text-align: center;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  border: 0;
  box-shadow: none;
  outline: none;
}

.toggler-icon {
  width: 30px;
  height: 3.5px;
  background-color: $white;
  display: block;
}

.middle-bar {
  margin: 7px auto;
}

.bar {
  margin: auto;
  height: 3px;
  width: 65px;
  background-color: $dark;
}

.input-box {
  border: 0;
  border-bottom: 3px solid $primary;
  border-radius: 0;
  padding: 0;
  font-size: 1rem;
}

.btn-close {
  --bs-btn-close-bg: none;
}

.contact-box {
  max-width: 500px;
  height: 100%;
  background-color: $light;
  padding: 0.5rem;
  margin: 0.8rem auto 0.8rem auto;
  display: flex;
  text-align: center;
}

.contact-box svg {
  margin: auto 1rem auto;
  fill: $primary;
}

.contact-box p {
  font-size: 1rem;
  color: $primary;
  margin-top: auto;
  margin-bottom: auto;
  height: fit-content;
}

.icon {
  padding: 8px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
